<!doctype html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>新規予定</title>
    <style>
      .test1{background-color:cyan;}
      .fullwidth{width:100%;}
      .width10{width:10%;}
      .th01{vertical-align:middle;}
    </style>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="modal-dialog">
  <div class="modal-content">
  <form action="" method="POST" id="new_inj">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">INJ新規予定</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="閉じる" onclick="window.close()"tabindex="-1">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
<!--      {{pstep}}
       <ul v-for="(machine,i) in res">
         <li>{{machine.fullname}}</li>
       </ul> -->
     <div v-show="pstep===0">
     <div class="form-row">
       <div class="form-group col-sm-6">
       <label for="id_inj_machine">マシン:</label>
        <select v-model="injmachine" @change="dataChanged" name="inj_machine" class="form-control" id="id_inj_machine">
         <option v-for="(machine,i) in res" :key="machine.odr" v-bind:value="machine.idm">{{machine.fullname}}</option>
        </select>
<!--        <small>{{blowmachine}}</small> -->
      </div>
       <div class="form-group col-sm-6">
         <label for="id_name">担当:</label>
         <input v-model="name" type="text" name="name" class="form-control" placeholder="担当者名" maxlength="30" required id="id_name">
<!--         <small>{{name}}</small>  -->
       </div>
     </div>
     <div class="form-row">
     <div class="form-group col-sm-12">
       <label for="id_summary">案件名:</label>
       <input v-model="summary" type="text" name="summary" class="form-control" placeholder="案件名" maxlength="50" required id="id_summary">
<!--       <small>{{summary}}</small>  -->
     </div>
    </div>
     <div class="form-row">
     <div class="form-group col-sm-6">
       <label for="id_start_date">開始:</label>
       <div class="input-group">
       <button type="button" aria-label="減らす" aria-describedby="label-number-of-unit" class="btn btn-outline-secondary btn-number rounded-0 px-1" data-type="minus" data-field="unit"@click="minus_day_sdate">-</button>
       <input v-model="start_date" @change="dataChanged" type="date" class="form-control" name="start_date">
       <button type="button" aria-label="増やす" aria-describedby="label-number-of-unit" class="btn btn-outline-secondary btn-number rounded-0 px-1" data-type="plus" data-field="unit" @click="plus_day_sdate">+</button>
<!--       <small>{{start_date}}</small>  -->
       </div>
     </div>
     <div class="form-group col-sm-6">
       <label for="id_end_date">終了:</label>
       <input v-model="end_date" @change="dataChanged" type="date" class="form-control" name="end_date">
<!--       <small>{{end_date}}</small>  -->
      </div>
     </div>
     <div class="form-row">
      <div class="form-group col-sm-6">
        <label for="id_color">色:</label>
         <input v-model="color" type="color" name="color">
<!--        <small>{{color}}</small>  -->
      </div>
     </div>
     <div v-show="err.length > 0" class="alert alert-danger" role="alert">
       <p>エラーがあります</p>
       <ul><li v-for="er in err">{{er}}</li></ul>
       <p>修正が必要です</p>
     </div>
    </div>
    <div v-show="pstep===1">
      <h5>以下の内容で登録します</h5>
      <table class="table table-bordered">
        <tr><td>インジェクション</td><td>{{m_name.fullname}}</td></tr>
        <tr><td>担当者</td><td>{{name}}</td></tr>
        <tr><td>案件</td><td>{{summary}}</td></tr>
        <tr><td>開始</td><td>{{start_date}}</td></tr>
        <tr><td>終了</td><td>{{end_date}}</td></tr>
      </table>
      <div v-show="warn.length > 0" class="alert alert-warning" role="alert">
        <p>競合する予定があります</p>
        <ul>
          <li v-for="wa in warn">{{wa.name}}-{{wa.summary}}({{wa.start_date}}〜{{wa.end_date}})</li>
        </ul>
        <p>構わなければそのまま登録してください</p>
      </div>
    </div>
    <div v-show="pstep===2">
      <h3 class="text-center">登録が完了しました</h3>
    </div>
  </div>
    <div class="modal-footer">
      <button v-show="pstep<=1"type="button" class="btn btn-secondary" onclick="window.close()">キャンセル</button>
      <button v-show="pstep===0" v-on:click="entry"  type="button" class="btn btn-primary" name="next" value="newblowconfirm">エントリー</button>
      <button v-show="pstep===1" v-on:click="backp" type="button" class="btn btn-secondary">戻る</button>
      <button v-show="pstep===1" v-on:click="register"  type="button" class="btn btn-primary" name="register" value="newblowregister">登録</button>
      <button v-show="pstep===2"type="button"class="btn btn-primary" id="button_success">閉じる</button>
    </div><!-- /.modal-footer -->
  </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<footer>
    <p class="text-center small">© All rights reserved by TSK & MPG.</p>
</footer>

    <!-- オプションのJavaScript -->
    <!-- 最初にjQuery、次にPopper.js、次にBootstrap JS -->
    <script type="text/javascript">
      var $ = jQuery = require('jquery')
    </script>
    <script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Vue.js -->
  <script src="../../node_modules/vue/dist/vue.js"></script>
  <script src="js/newinj.js"></script>
</body>
</html>
